.settings {
  display: flex;
  justify-content: center;

  &__wrapper {
    width: 400px;
  }

  &__section {
    display: flex;
    padding: 20px;
    min-height: 70px;

    &--center {
      justify-content: center;
    }

    &--around {
      justify-content: space-around;
      position: relative;
    }
  }

  &__select {
    width: 150px;
  }

  &__select-group {
    display: flex;
  }

  &__select-wrapper {
    margin: 0 10px;
  }

  &__element {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
  }
}
