@import "~@global/scss/variables";

.game {
  &__modal-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
  }

  &__modal-title {
    display: flex;
    justify-content: center;
    font-size: 32px;
    margin: 20px auto 30px;
  }

  &__settings {
    display: flex;
    justify-content: center;
  }

  &__button {
    margin: 0 10px;
  }

  &__cells {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  &__row {
    font-size: 12px;
    display: flex;
    flex-wrap: nowrap;
  }

  &__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    outline: none;
    color: #fff;
    background-color: $main-color-lyghten;
    cursor: pointer;
    font-size: 12px;
    transition: font-size 0.3s ease;

    &--filled {
      font-size: 25px;
    }

    &--focus {
      border: 2px solid rgb(255, 0, 0);
    }

    &--dark {
      background-color: $main-color;
    }

    &--readonly {
      font-size: 25px;
      font-weight: 900;
      text-shadow:
        #000 1px 1px 0,
        #000 -1px -1px 0,
        #000 -1px 1px 0,
        #000 1px -1px 0;
    }
  }

  &__keyboard {
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
  }

  &__keyboard-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    outline: none;
    color: #fff;
    background-color: $main-color-lyghten;
    cursor: pointer;
    font-size: 25px;
    font-weight: 900;
    text-shadow:
      #000 1px 1px 0,
      #000 -1px -1px 0,
      #000 -1px 1px 0,
      #000 1px -1px 0;
  }

  &__material-button-wrapper {
    margin-right: 20px;
  }
}
