@import "~@global/scss/variables";

* {
  box-sizing: border-box;
}

body {
  font: 1rem sans-serif;
  padding-top: 40px;
}

.g-container {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  padding: 0 30px;
}
