.modal {
  $self: &;

  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  transition: opacity 0.3s ease;

  &--big {
    #{$self} {
      &__container {
        width: 800px;
        padding: 0;
      }
    }
  }

  &__overlay {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(8, 4, 4, 0.8);
  }

  &__container {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 450px;
    max-width: 95%;
    max-height: calc(100% - 40px);
    padding: 20px 20px 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.1s ease-out;
    transform: translate(-50%, -50%);

    &--top {
      top: 25%;
    }
  }

  &__close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: 0;
    outline: none;
    padding: 0 9px;
    font-size: 35px;
    color: #fff;
    opacity: 0.7;
    transform: translateZ(0);
    transition: opacity 0.15s ease;

    &:hover {
      opacity: 1;
    }
  }
}
